*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.purple{
    background-color: purple;
    padding-bottom: 6%;
}
.purple img{
    margin-left: 70px;
    margin-top: 30px;

}
.purple-ul{
    list-style: none;
    text-align: right;
    margin-top: -30px;
}
.purple-ul li{
    display:inline-block ;
   
}
.purple-ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px;
}
.purple-p{
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    padding-top: 90px;
    margin-bottom: 6%;
}
.purple-a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    padding: 14px;
    background-color: orangered;
    border-radius: 6px;
    margin-left: 43%;
}
.burger i{
    font-size: 29px;
    color: white;

}
.burger{
    display: none;
}
.green{
    background-color: rgb(2, 157, 168);
    padding-bottom: 6%;
}

h2{
    text-align: center;
    color: white;
    padding-top: 5%;
}
hr{
    width: 10%;
    margin: auto;
    outline: none;
    border-color: rgb(56, 56, 56);
    margin-top: 0.5%;
}
.p{
    text-align: center;
    color: white;
    padding-top: 0.5%;
    font-size: 19px;
}
.green-ul{
    list-style: none;
    margin-left: 8%;
    margin-top: 3%;
}
.green-ul li{
    width: 22%;
    display: inline-block;
    margin: 1%;

}
.green-ul li img{
    padding-left: 40%;
}
.green-ul li h3{
    color: white;
    padding: 10px 0px;
    text-align: center;
}
.green-ul li p{
    color: white;
    text-align: center;
}

.grey{
    background-color: rgb(161, 161, 161);
    padding-bottom: 6%;
}
.grey h2{
    color: black;
}
.grey .p{
    color: black;

}
.grey-ul{
    list-style: none;
    margin-left: 8%;
    margin-top: 3%;
}
.grey-ul li{
    display: inline-block;
    width: 22%;
    margin: 1%;
}
.grey-ul li img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 16%;
}
.grey-ul li h3{
    text-align: center;
    padding: 4%;
}
.grey-ul li h5{
    text-align: center;
    color: rgb(27, 27, 209);
    font-size: 15px;
    padding: 2%;
}
.grey-ul li p{
    text-align: center;
    color: rgb(41, 41, 41);
}
.icon{
    margin-top: 6%;
    margin-left: 25%;
}
.icon span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    padding: 5%;
}
.icon span i{
    color: white;
}
.white{
    padding-bottom: 6%;
}
.white h2{
    color: black;
}
.white .p{
    color: black;
}
.white-ul{
    list-style: none;
    margin-left: 10%;
    margin-top: 3%;
}
.white-ul li{
    width: 22%;
    display: inline-block;
    margin: 1%;

}
.circle1{
    background: url(../assets/pro1.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-left: 17%;
    /* background-repeat: no-repeat; */
    
}
.circle2{
    background: url(../assets/pro2.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-left: 17%;

    /* background-repeat: no-repeat; */
    
}
.circle3{
    background: url(../assets/pro3.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-left: 17%;

    /* background-repeat: no-repeat; */
    
}.circle4{
    background: url(../assets/pro4.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-left: 17%;

    /* background-repeat: no-repeat; */
    
}
 h1{
    font-size: 35px;
    font-weight: 900;
  text-align: center;
  padding-top: 35%;
}
.white-ul li h5{
    text-align: center;
    font-size: 20px;
}
.pitch{
    background-color: rgb(211, 182, 139);
    padding-bottom: 6%;
}
.pitch h2{
    color: black;
}
.pitch .p{
    color: black;
}
.tabs{
    margin-left: 39%;
    margin-top: 2%;
}
.tabs a{
    text-decoration: none;
    padding: 6px;
    background-color: rgb(1, 102, 109);
    color: white;
    font-size: 18px;
    margin: 10px;
    border-radius: 4px;
}
.pitch-ul{
    list-style: none;
    margin-left: 7%;

}
.pitch-ul li{
    width: 42%;
    display: inline-block;
    margin: 3%;
}
.pitch-ul li h4{
    text-align: center;
    font-size: 26px;
    padding: 2%;
}
.pitch-a{
    text-decoration: none;
    padding: 13px;
    background-color: rgb(1, 102, 109);
    color: white;
    font-weight: 800;
    border-radius: 5px;
    margin-left: 46%;


}
.blue{
    background-color: rgb(1, 1, 112);
}
form{
    margin-top: 3%;
}
input{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 45);
    border-radius: 5px;
    margin-left: 2%;
    
}
input[type='text']
{
    margin-left: 17%;
}
textarea{
    width: 930px;
    margin-left: 17%;
    height: 200px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 45);
    border-radius: 5px;
    margin-top: 2%;
    
}
::placeholder{
    padding-left: 1.5%;
}
input[type="button"]{
    cursor: pointer;
    color: white;
    margin-left: 34%;
    margin-top: 2%;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.footer{
    margin-top: 3%;
}
.blue-ul{
    background-color: rgb(0, 0, 45);
    list-style: none;
    }
.blue-ul li{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-left: 7%;
    padding: 13px;


}



@media (max-width:768px) {
    .purple-ul{
        display: none;
    }
    .burger{
        display: inline-block;
        margin-left: 6%;
    }
    .purple img{
        margin-left: 35%;
    }
    .purple-p{
        font-size: 24px;
        margin-bottom: 10%;
    }
    .purple-a{
        margin-left: 39%;
    }
    .green-ul li{
        width: 42%;
    }
    .grey-ul li{
        width: 42%;
        margin-top: 3%;
    }
    .white-ul li{
        width: 42%;
        margin: 3%;
    }
    .pitch-ul li img{
        width:300px ;
        height: 180px;
    }
    .pitch-ul li h4{
        font-size:20px ;
    }
    .pitch-a{
        margin-left: 40%;
    }
    .tabs{
        margin-left: 32%;
    }
    input[type="email"]{
margin-left: 17%;   
margin-top: 2%;    
    }
    textarea{
        width: 450px;
    }
    input[type="button"]{
        margin-left: 17%;
        font-size: 24px;
    }
    .blue-ul li{
        margin-left: 2.7%;
        font-size: 17px;
        padding: 7px;
    }
    
}
@media (max-width:425px) {
    .purple{
        padding-bottom: 10%;
    }
    .purple img{
        margin-left: 24%;
    }
    .purple-p{
        font-size: 20px;
    }
    .purple-a{
        margin-left: 27%;
    }
    h2{
        font-size:20px ;
    }
    .green-ul li{
        width: 100%;
        margin-top: 5%;
        
    }
    .p{
        font-size: 15px;
    }
    .grey-ul li{
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
    .grey-ul li img{
        margin-left: 0%;
        margin-top: 2%;
    }
    .icon{
        margin-left: 0%;
    }
    .white-ul li{
        width: 100%;
        margin-top: 4%;
    }
  .circle1,.circle2,.circle3,.circle4{
    margin-left: 26%;
  }
  .pitch-ul li{
    width: 100%;
    margin-bottom: 7%;
  }
  .tabs{
    margin-left: 20%;
  }
  .pitch-ul li img{
    margin-left: 10%;
  }
  .pitch-a{
    margin-left: 30%;
  }
  input,textarea{
    width: 350px;
    margin-left: 9%;
  }
  input[type="text"],input[type="email"],input[type="button"]{
    margin-left: 9%;
  }
  input[type="button"]{
    font-size: 20px;
  }
  .blue-ul li{
    margin-left: 3%;
    font-size: 20px;
    padding: 7px;
}
.blue-ul .be{
    margin-left: 18%;
}

}